* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* home */

.home-container {
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, red, green);
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 10px;
  height: 48px;
  background: linear-gradient(to right, black, black, red);
  opacity: 0.6;
  display: flex;
}

.navbar .card1 {
  position: relative;
  width: 60%;
  height: 100%;
  /* background: yellow; */
}

.card1 {
  padding: 15px;
  padding-left: 50px;
}

.card1 a {
  text-decoration: none;
  color: white;
  padding: 12px 18px;
  font: 1em sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.card1 a:hover {
  transform: scale(1.5, 1.5);
  color: red;
}

.card2 {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  /* padding: 12px; */
  /* background: blue; */
}

.card2 i {
  font-size: 1.5em;
  padding: 12px;
  margin-left: 32px;
  text-decoration: none;
  color: black;
}

.card2 a:hover {
  transform: scale(1.5, 1.5);
}

.card2 p {
  /* color: white; */
  margin: 4px;
  padding: 12px 0px;
}

.card2 p a {
  color: white;
  text-decoration: none;
}

.card2 p:hover {
  transform: scale(1.2, 1.2);
}

.menu {
  position: relative;
  width: 100%;
  height: 60vh;
  /* background: yellow; */
  /* opacity: .6; */
  /* top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card3 {
  width: 40%;
  height: 20vh;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.card3 h1 {
  font-size: 3em;
}

.card3 p {
  font-size: 1.3em;
  color: white;
}

.card4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.card4 button {
  outline: none;
  padding: 8px 16px;
  /* color: red; */
  background: rgb(136, 116, 116);
  border-radius: 24px;
  /* opacity: 0.6; */
  border: 2px solid white;
  margin: 0px 2px;
}

.card4 button:hover {
  transform: scale(1.1);
  background: rgb(201, 164, 164);
  box-shadow: 2px 4px 2px rgb(148, 145, 145);
}

.card4 button a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

/* services */

.service-container {
  width: 100%;
  height: 480px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card5 {
  width: 80%;
  height: 250px;
  /* background: lightsalmon; */
  margin: 8px;
  position: relative;
  top: -40px;
  display: flex;
}

.card5 .pic {
  display: flex;
  flex-direction: column;
}

.card5 .pic .box {
  width: 190px;
  height: 190px;
  margin-right: 24px;
  background: white;
  background-image: url("./images/IMG_20180911_162305_794.jpg") no-repeat center;
  background-size: cover;
  animation: changeImage 20s linear infinite;
}

@keyframes changeImage {
  0% {
    background-image: url("./images/IMG_20180911_162305_794.jpg");
  }
  25% {
    background-image: url("./images/IMG_20181211_201631.jpg");
  }
  50% {
    background-image: url("./images/FB_IMG_1543242721052.jpg");
  }
  75% {
    background-image: url("./images/IMG_20181214_074936_70-2.jpg");
  }
  100% {
    background-image: url("./images/IMG_20191105_124809.jpg");
  }
}

.card5 .pic .circle {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

.card5 .pic .circle i {
  font-size: 12px;
  margin: 8px;
}

.card5 .pic .circle1 {
  color: red;
}

.content h1 {
  color: white;
  padding: 5px;
  font-size: 2em;
  margin-bottom: 12px;
}

.content p {
  font-size: 1.1em;
  /* font-weight: bold; */
  padding-bottom: 12px;
  padding-top: 5px;
}

.content hr {
  height: 8px;
  background-image: linear-gradient(90deg, red, transparent);
  border: 0;
  height: 1px;
}

.card6 {
  position: relative;
  width: 80%;
  height: 250px;
  background: white;
  margin: 4px;
  margin-bottom: 24px;
  top: -40px;
  display: flex;
}

.box1 {
  width: 33%;
  height: 250px;
  /* background: lightblue; */
  margin: 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box1 i {
  font-size: 5em;
  padding: 12px;
  color: rgb(85, 83, 83);
}

.box1 i:hover {
  transform: scale(1.5, 1.5);
}

.box1 h2 {
  color: rgb(53, 52, 52);
  padding-bottom: 4px;
}

.box1 p {
  padding: 5px 25px;
  color: rgb(53, 52, 52);
}

/* blog */

.blog-container {
  width: 100%;
  height: 420px;
  background: linear-gradient(to bottom right, yellow, red);
  display: flex;
  flex-direction: column;
}

.card7 {
  width: 100%;
  height: 100px;
  /* background: lightcyan; */
  display: flex;
  flex-direction: column;
}

.card9 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  /* background: lightpink; */
}

.card9 h1 {
  font-size: 2.5em;
  color: white;
}

.card10 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  /* background: lightsalmon; */
}

.card10 h1 {
  position: relative;
  left: -116px;
  font-size: 2.5em;
  color: white;
}

.card8 {
  width: 100%;
  height: 320px;
  /* background: lightgreen; */
  display: flex;
}

.card11 {
  width: 60%;
  height: 100%;
  /* background: lightgoldenrodyellow;  */
  display: flex;
}

.card19 {
  width: 70%;
  height: 100%;
  /* background: lightgreen;  */
  display: flex;
  flex-wrap: wrap;
}

.card19 img {
  width: 50%;
  height: 50%;
}

.card20 {
  width: 30%;
  height: 100%;
  /* background: lightslategrey;  */
}

.card20 img {
  width: 100%;
  height: 100%;
}

.card11 #camera {
  width: 30%;
  height: 100%;
}

.card12 {
  width: 40%;
  height: 100%;
  /* background: lightseagreen;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card12 .buy button {
  padding: 12px 24px;
  background: rgb(189, 188, 188);
  opacity: 0.5;
  color: white;
  border: 2px solid white;
  border-radius: 24px;
  cursor: pointer;
}

.card12 button:hover {
  transform: scale(1.1);
  background: rgb(128, 115, 115);
  box-shadow: 2px 4px 2px rgb(5, 1, 1);
}

.card12 a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

/* contact */

.contact-container {
  width: 100%;
  height: 450px;
  background: linear-gradient(to bottom, rgb(87, 86, 86), black);
  display: flex;
  flex-direction: column;
}

.card13 {
  width: 100%;
  height: 50px;
  /* background: lightgreen; */
  display: flex;
  justify-content: center;
}

.card13 h1 {
  color: white;
  font-size: 2.5em;
}

.card14 {
  width: 100%;
  height: 330px;
  /* background: lightslategray; */
  display: flex;
}

.card16 {
  width: 60%;
  height: 330px;
  /* background: lightskyblue; */
}

.card18 {
  width: 60%;
  height: 330px;
  /* background: lightslategray; */
  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-left: 48px;
}

.card18 p {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 8px;
}

.card18 a {
  color: white;
  font-size: 1.2em;
  margin: 8px;
  text-decoration: none;
}

.card17 {
  width: 40%;
  height: 330px;
  /* background: lightsalmon; */
  display: flex;
  flex-direction: column;
}

.card17 .div {
  margin: 12px;
}

.card17 input {
  padding: 12px;
  width: 80%;
  outline: none;
  border: none;
  background: rgb(177, 175, 175);
}

.card17 textarea {
  padding: 12px;
  background: rgb(177, 175, 175);
  width: 80%;
  outline: none;
  border: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

.card17 button {
  padding: 12px;
  background: rgb(177, 175, 175);
  outline: none;
  border: 2px solid white;
  width: 30%;
  cursor: pointer;
}

.card17 button:hover {
  transform: scale(1.1);
  background: rgb(128, 115, 115);
  box-shadow: 2px 4px 2px rgb(5, 1, 1);
}

.card17 button a {
  text-decoration: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
}

.card15 {
  width: 100%;
  height: 70px;
  background: black;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid white;
}

.card15 h1 {
  color: white;
  padding: 4px;
}

.card15 a {
  color: white;
  font-size: 1.3em;
  text-decoration: none;
}

@media screen and (min-width: 895px) and (max-width: 1050px) {
  /* home */

  .card1 {
    padding: 15px;
    padding-left: 30px;
  }

  .card1 a {
    font-size: 0.8em;
  }

  .card12 .buy {
    margin-left: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 895px) {
  /* home */

  .card1 {
    padding: 15px;
    padding-left: 5px;
  }

  .card1 a {
    font-size: 0.7em;
  }

  .card12 .buy {
    margin-left: 35px;
  }

  .card2 i {
    font-size: 1.2em;
    /* padding: 8px; */
    margin-left: 18px;
  }

  .card2 p {
    margin: 0px;
  }

  /* services */

  .content p {
    font-size: 0.8em;
    font-weight: bold;
  }
}
